@model ReportFilterForm

<form method="post">

    <root-errors/>

    <select-group
        name="EmployeeId"
        label="Сотрудник"
        placeholder="Все сотрудники"
        value="@Model.EmployeeId"
        items="@Model.Employees"/>

    <date-group
        name="DateFrom"
        label="Начальная дата"
        invalid-feedback="Некорректная начальная дата"
        value="@Model.DateFrom?.ToShortDateString()"/>

    <date-group
        name="DateTo"
        label="Конечная дата"
        invalid-feedback="Некорректная конечная дата"
        value="@Model.DateTo?.ToShortDateString()"/>

    <select-group
        name="Lateness"
        label="Опоздание"
        placeholder="Не имеет значения"
        items="@Model.LatenessSelectListItems"/>

    <select-group
        name="StrictSchedule"
        label="Строгий график"
        placeholder="Не имеет значения"
        items="@Model.StrictScheduleSelecrListItems"/>

    <input type="submit" class="btn btn-primary mb-4" value="Применить"/>
    <input type="submit" class="btn btn-success mb-4" name="pdf" value="Скачать PDF">
</form>