@model DepartmentViewModel

@{ ViewBag.Title = "Отдел"; }

<h4>Отдел</h4>

<form>

    <root-errors/>
    
    <view-group
        name="Name"
        label="Название"
        value="@Model.Name"/>
    
    <view-group
        name="EmployeesCount"
        label="Количество сотрудников"
        value="@Model.Employees.Count()"/>

</form>

<h4>Список сотрудников</h4>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ФИО</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>
                <a href="@(Url.Action<EmployeeController>(x => x.View(employee.Id)))">@employee.Fio</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<form asp-action="Delete">
    <input type="hidden" name="Id" value="@Model.Id">

    <a class="btn btn-primary lower-button" href="@(Url.Action<DepartmentController>(c => c.Edit(Model.Id)))">Редактировать</a>

    <input type="submit" class="btn btn-primary lower-button" value="Удалить">
</form>