@inject IUserProvider<User> UserProvider

@{
    ViewBag.Title = "Список сотрудников";
}

<h4>Список сотрудников</h4>

<form id="ajax-form" data-ajax="true" data-ajax-method="POST" data-ajax-update="#RegistrationsTable" action="@(Url.Action<EmployeeController>(x => x.RegistrationAjax()))">

</form>

<div id="RegistrationsTable">
    
</div>

@section Scripts{
    <script type="text/javascript">
        $('#ajax-form')
            .submit();

        function registerComing(employeeId) {
            $.get(
                '@(Url.Action<RegistrationController>(x => x.RegisterComing(With.No<RegisterComingForm>())))',
                {
                    employeeId: employeeId,
                    entranceId: @(((SecurityGuard)UserProvider.User).Entrance.Id)
                },
                function(data, status) {
                    if (status === 'success') {
                        const notify = new PNotify({
                            title: 'КПП',
                            text: 'Сотрудник впущен'
                        });
                    } else {
                        const notify = new PNotify({
                            title: 'КПП',
                            text: 'Ошибка при попытке пропуска'
                        });
                    }
                });
        }

        function registerLeaving(employeeId) {
            $.get(
                '@(Url.Action<RegistrationController>(x => x.RegisterLeaving(With.No<RegisterLeavingForm>())))',
                {
                    employeeId: employeeId,
                    entranceId: @(((SecurityGuard)UserProvider.User).Entrance.Id)
                },
                function(data, status) {
                    if (status === 'success') {
                        const notify = new PNotify({
                            title: 'КПП',
                            text: 'Сотрудник выпущен'
                        });
                    } else {
                        const notify = new PNotify({
                            title: 'КПП',
                            text: 'Ошибка при попытке пропуска'
                        });
                    }
                });
        }
    </script>
}