@model RowViewModel

<tr>

    @if (!Model.DaySpaned)
    {
        <td rowspan="@(Model.DaySpanedCount)">@Model.DayDate.ToShortDateString()</td>
    }
                    

    @if (!Model.EmployeeSpaned)
    {
        <td rowspan="@(Model.EmployeeSpanedCount + 1)">@Model.EmployeeFio</td>
    }
                    

    <td class="@(!Model.IsCorrectRow? "table-danger" : string.Empty)">@Model.Registration.DateTime.ToShortTimeString()</td>
                    

    <td class="@(!Model.IsCorrectRow? "table-danger" : string.Empty)">@(Model.Registration.EventType == RegistrationEventType.Coming ? "Вход" : "Выход")</td>
     

    @if (Model.IsCorrectRow && Model.Registration.EventType == RegistrationEventType.Coming)
    {
        <td rowspan="2">@($"{Model.WorkTime?.Hours} ч. {Model.WorkTime?.Minutes} мин.")</td>
    }
    else 
    if (!Model.IsCorrectRow)
    {
        <td class="table-danger">-</td>
    }
    

    @if (!Model.EmployeeSpaned)
    {
        if (Model.Registration.DateTime.Hour >= 10 && Model.Registration.DateTime.Minute > 0)
        {
            <td rowspan="@(Model.EmployeeSpanedCount + 1)">@($"{Model.Registration.DateTime.Hour - 10} ч. {Model.Registration.DateTime.Minute} мин.")</td>
        }
        else
        {
            <td rowspan="@(Model.EmployeeSpanedCount + 1)">-</td>
        }
    }

</tr>